<div class="table-responsive">
  <table class="table table-hover table-striped align-middle text-center">
    <thead class="table-light">
      <tr>
        <th scope="col">Equipos</th>
        <th scope="col">Fecha</th>
        <th scope="col">1</th>
        <th scope="col">X</th>
        <th scope="col">2</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <td>
          <strong class="text-primary ">{{ event.homeTeam }}</strong>
          <span class="text-muted">vs.</span>
          <strong class="text-secondary">{{ event.awayTeam }}</strong>
        </td>
        <td>{{ event.date | date: 'short' }}</td>
        <td>
          <button
            class="btn btn-outline-primary btn-sm w-100"
            (click)="selectBet(event, event.odds[2])"
          >
            {{ event.odds[2]?.odds }}
          </button>
        </td>
        <td>
          <button
            class="btn btn-outline-primary btn-sm w-100"
            (click)="selectBet(event, event.odds[0])"
          >
            {{ event.odds[0]?.odds }}
          </button>
        </td>
        <td>
          <button
            class="btn btn-outline-primary btn-sm w-100"
            (click)="selectBet(event, event.odds[1])"
          >
            {{ event.odds[1]?.odds }}
          </button>
        </td>
        
      </tr>
    </tbody>
  </table>
</div>
